
@layer base {
	:root {
		--color-esmeralda-50: #e0ffe2;
		--color-esmeralda-100: #7dff93;
		--color-esmeralda-200: #64e77d;
		--color-esmeralda-300: #4ad067;
		--color-esmeralda-400: #2cb950;
		--color-esmeralda-500: #00a338;
		--color-esmeralda-600: #008530;
		--color-esmeralda-700: #006121;
		--color-esmeralda-800: #003d12;
		--color-esmeralda-900: #001f06;
		--color-esmeralda-950: #000e01;
	
		--color-redcarrot-50: #fff2ea;
		--color-redcarrot-100: #ffdbc4;
		--color-redcarrot-200: #ffc39c;
		--color-redcarrot-300: #ffaa6f;
		--color-redcarrot-400: #ff8e32;
		--color-redcarrot-500: #f37800;
		--color-redcarrot-600: #c36300;
		--color-redcarrot-700: #8c4500;
		--color-redcarrot-800: #552800;
		--color-redcarrot-900: #2a1000;
		--color-redcarrot-950: #1a0d1c;	


		--color-pastpurp-50: #f3f4ff;
		--color-pastpurp-100: #e6e8ff;
		--color-pastpurp-200: #dadbff;
		--color-pastpurp-300: #cdcfff;
		--color-pastpurp-400: #c1c2ff;
		--color-pastpurp-500: #b5b6fe;
		--color-pastpurp-600: #8f8ee4;
		--color-pastpurp-700: #6157c5;
		--color-pastpurp-800: #381e93;
		--color-pastpurp-900: #17004d;
		--color-pastpurp-950: #09152a;		
	}
}


@plugin "daisyui/theme" {
	name: nevada_dark;
	prefersdark: true;
	color-scheme: dark;

	--color-primary: var(--color-esmeralda-600);
	--color-primary-content: var(--color-esmeralda-50);
	--color-secondary: var(--color-pastpurp-600);
	--color-secondary-content: var(--color-pastpurp-50);
	--color-accent: var(--color-redcarrot-600);
	--color-accent-content: var(--color-redcarrot-50);

	--color-base-100: var(--color-esmeralda-900);
	--color-base-200: var(--color-esmeralda-800);
	--color-base-300: var(--color-esmeralda-700);
	--color-base-content: var(--color-esmeralda-50);
	--color-neutral: var(--color-esmeralda-950);
	--color-neutral-content: var(--color-esmeralda-100);

	--color-info: var(--color-pastpurp-700);
	--color-info-content: var(--color-pastpurp-100);
	--color-success: var(--color-redcarrot-700);
	--color-success-content: var(--color-redcarrot-100);
	--color-warning: var(--color-esmeralda-400);
	--color-warning-content: var(--color-esmeralda-100);
	--color-error: var(--color-redcarrot-400);
	--color-error-content: var(--color-redcarrot-100);
	
	--radius-selector: 1.25rem;
	--radius-field: 0.50rem;
	--radius-box: 0.25rem;
  
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
  
	--border: 1px;
  
	--depth: 1;
	--noise: 3;	
}

@plugin "daisyui/theme" {
	name: nevada;
	default: true;
	prefersdark: false;
	color-scheme: light;

	--color-primary: var(--color-esmeralda-400);
	--color-primary-content: var(--color-esmeralda-950);
	--color-secondary: var(--color-pastpurp-400);
	--color-secondary-content: var(--color-pastpurp-950);
	--color-accent: var(--color-redcarrot-400);
	--color-accent-content: var(--color-redcarrot-950);

	--color-base-100: var(--color-esmeralda-100);
	--color-base-200: var(--color-esmeralda-200);
	--color-base-300: var(--color-esmeralda-300);
	--color-base-content: var(--color-esmeralda-950);
	--color-neutral: var(--color-esmeralda-50);
	--color-neutral-content: var(--color-esmeralda-900);

	--color-info: var(--color-pastpurp-600);
	--color-info-content: var(--color-pastpurp-950);
	--color-success: var(--color-redcarrot-600);
	--color-success-content: var(--color-redcarrot-950);
	--color-warning: var(--color-esmeralda-600);
	--color-warning-content: var(--color-esmeralda-950);
	--color-error: var(--color-redcarrot-600);
	--color-error-content: var(--color-redcarrot-950);

	--radius-selector: 1.25rem;
	--radius-field: 0.50rem;
	--radius-box: 0.25rem;
	
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	
	--border: 1px;
	
	--depth: 1;
	--noise: 3;
}

@custom-variant dark (&:where([data-theme=nevada_dark], [data-theme=nevada_dark] *));
